html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f3e5f5;
  background-image: url('assets/disney-castle-background.jpg');
  background-size: cover;
  background-position: center;
  color: #000; /* Improved readability */
}

header {
  background-color: rgba(0, 85, 255, 0.8); /* Semi-transparent for layering effect */
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: rgba(224, 224, 224, 0.8); /* Semi-transparent */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for content */
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Soft shadow for depth */
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for readability */
  margin: 10px 0;
}

p {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Subtle shadow for paragraph text */
}

footer {
  background-color: #ffd700;
  color: #000;
  text-align: center;
  padding: 0px;
  margin-top: auto;
  font-family: 'Roboto', sans-serif;
}

.bio-image {
  display: block;
  max-width: 15%;
  height: auto;
  margin: 20px auto;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hobby-gallery, .image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.hobby-image, .about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
